.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  @keyframes slideout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  animation-name: slideout;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
