.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://blogs-macos.oss-cn-shenzhen.aliyuncs.com/ui/wallpaper-day.jpg");
}
